
.cat_hand {
    width: 160px;
    position: absolute;
    top: -180px;
    left: 50%;
    transform: translateX(-50%);
}

.score_bar {
    width: 80vw;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.question_area {
    width: 100vw;
    position: fixed;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.question_text {
    font-size: 80px;
    color: var(--color-primary);
    font-weight: bold;
}

.question_roma {
    font-size: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #AC9090;
}

.not_inputed {
    color: var(--color-primary);
}

.next_question_text {
    font-size: 40px;
    text-align: right;
    color: #AC9090;
    padding: 64px 64px 0 0;
}

.result_area {
    width: 100vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.ring {
    width: 100vw;
    position: fixed;
    left: 0px;
    bottom: 0px;
}

.ranking_upload_button {
    width: 400px;
    border-radius: 16px;
    border: solid 4px var(--color-primary);
    font-size: 36px;
    font-weight: bold;
    color: var(--color-primary);
    text-align: center;
    padding: 8px;
    position: fixed;
    bottom: 64px;
    right: 64px;
    text-decoration: none;
    cursor: pointer;
}

.ranking_uploader {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ranking_uploader_button {
    width: 400px;
    border-radius: 16px;
    border: solid 4px var(--color-primary);
    font-size: 36px;
    font-weight: bold;
    color: var(--color-primary);
    text-align: center;
    margin: 8px;
    padding: 8px;
    cursor: pointer;
}

.ranking_uploader_input {
    width: 400px;
    border-radius: 16px;
    border: solid 4px var(--color-primary);
    font-size: 36px;
    font-weight: bold;
    color: var(--color-primary);
    background-color: var(--color-surface);
    text-align: center;
    margin: 8px;
    padding: 16px 8px;
}

.uploading {
    width: 400px;
    border-radius: 16px;
    border: solid 4px var(--color-primary);
    font-size: 36px;
    font-weight: bold;
    color: var(--color-primary);
    text-align: center;
    margin: 8px;
    padding: 8px;
}

.complete {
    width: 400px;
    border-radius: 16px;
    border: solid 4px var(--color-primary);
    font-size: 36px;
    font-weight: bold;
    color: var(--color-primary);
    text-align: center;
    margin: 8px;
    padding: 8px;
    text-decoration: none;
}

.error {
    width: 400px;
    border-radius: 16px;
    border: solid 4px var(--color-primary);
    font-size: 36px;
    font-weight: bold;
    color: var(--color-primary);
    text-align: center;
    margin: 8px;
    padding: 8px;
    text-decoration: none;
}
