body {
    background-color: var(--color-surface);
}

.content_area {
    min-width: 800px;
    max-width: 1400px;
    margin: 32px auto;
    border-radius: 32px;
    border: solid 8px var(--color-primary);
}

.content_title {
    color: var(--color-primary);
    font-size: 40px;
    margin: 32px 0 0 32px;
}

.content_title_underbar {
    margin: 16px 32px;
    border: solid 2px var(--color-primary)
}

.keymap_config_wrapper {
    display: flex;
}

.keymap_controller {
    width: 320px;
    border-radius: 16px;
    border: solid 2px var(--color-primary);
    margin: 16px 0px 16px 32px;
    position: sticky;
    top: 16px;
    padding: 16px;
}

.keymap_controller_title {
    color: var(--color-primary);
    font-weight: bold;
    font-size: 24px;
}

.keymap_change_input {
    width: 130px;
    border-radius: 8px;
    border: solid 2px var(--color-primary);
    font-size: 12px;
    font-weight: bold;
    color: var(--color-primary);
    background-color: var(--color-surface);
    text-align: center;
    margin: 8px 0;
    padding: 8px 8px;
}

.keymap_change_button {
    width: 286px;
    border-radius: 8px;
    border: solid 2px var(--color-primary);
    font-size: 12px;
    font-weight: bold;
    color: var(--color-primary);
    text-align: center;
    margin: 8px 0;
    padding: 8px;
    cursor: pointer;
}

.keymap_table_area {
    width: 800px;
    margin: 16px auto 32px auto;
    border-collapse: collapse;
    border-radius: 16px;
    padding: 0 16px 16px 16px;
    text-align: center;
}

.key_row_title {
    margin: 32px 8px 8px 16px;
    display: flex;
    justify-content: space-around;
    color: var(--color-primary);
    font-size: 32px;
    font-weight: bold;
}

.key_row {
    margin: 8px 16px;
    display: flex;
    justify-content: space-around;
    color: var(--color-primary);
    font-size: 32px;
}

.row {
    width: 80px;
    word-break: keep-all;
}

.row_title {
    width: 80px;
    word-break: keep-all;
    cursor: pointer;
}