
.cat_hand {
    width: 160px;
    position: absolute;
    top: -180px;
    left: 50%;
    transform: translateX(-50%);
}

.score_bar {
    width: 80vw;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.center_wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.game_title {
    font-size: 120px;
    color: var(--color-primary);
    font-weight: bold;
    flex-grow: 1;
    padding: 120px 0 96px 0;
}

.button {
    font-size: 60px;
    color: var(--color-primary);
    font-weight: bold;
    border-radius: 32px;
    border: solid 4px var(--color-primary);
    padding: 16px;
    width: 600px;
    margin: 16px auto;
}

.button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
}